# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=

# JWT Configuration
JWT_SECRET=mon_code_jwt_secret_ici

# Server Configuration
PORT=5000

# Stripe Configuration (optional)
STRIPE_SECRET_KEY=sk_test_


